.row {
  margin-bottom: 10px;
}

#map {
  width: 100%;
}

.marker {
  background-image: url('mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

#map, .buscador {
  height: 80vh;
}

.listaEnsayaderos {
  height: 80%;
  overflow-y: scroll;
}